@model List<DataConversionProgressApp.Models.CourtProgress>

<form method="post" asp-action="Save">
    <table class="table table-bordered table-dark">
        <thead>
            <tr>
                <th>Date</th>
                <th>Court 1 Disposed</th>
                <th>Court 1 Warrant</th>
                <th>Court 2 CaseManagement</th>
                <th>Court 2 Warrant</th>
                <th>Progress</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>
                        @Model[i].DateReceived.ToString("dddd, MMM dd")
                        <input type="hidden" asp-for="@Model[i].DateReceived" />
                    </td>
                    <td><input asp-for="@Model[i].Court1Disposed" type="checkbox" /></td>
                    <td><input asp-for="@Model[i].Court1Warrant" type="checkbox" /></td>
                    <td><input asp-for="@Model[i].Court2Disposed" type="checkbox" /></td>
                    <td><input asp-for="@Model[i].Court2Warrant" type="checkbox" /></td>
                    <td>@Model[i].Progress %</td>
                    <td>@Model[i].Status</td>
                </tr>
            }
        </tbody>
    </table>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
